#start {
    opacity: 0;
    transition: opacity 1s;
}

body {
    background-color: #dde6d0;
opacity: 0.8;
background-image: radial-gradient(#86927d 0.5px, #dde6d0 0.5px);
background-size: 10px 10px;
}

body, html { 
    overflow-x: hidden; 
    overflow-y: hidden;
}

.hero {
    font-family: 'IBM Plex Sans', sans-serif; 
    font-weight: 800;
    font-size: 240px;
    text-align:center;
    animation: fadein 0.5s ease-out;
}

#stay{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    left: 305px;
    line-height: 910px;
    text-align: left;
   
    animation: right_flyin 0.75s ease-out;
}

#active {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    left: 914px;
    top: 468px;
    text-align: left;
   
    animation: bottom_flyin 1.25s ease-out;
}

#start {
    display: inline-block;
    position: absolute;
    left: 945px;
    top:850px;
    font-size: 80px;
    font-family: 'IBM Plex Sans', sans-serif; 
    background-color: transparent;
}

#bodypart,
#arms,
#legs,
#chest,
#back,
#generate,
#clear {
    display:inline-block;
    position:absolute;
  opacity: 0;
  transition: opacity 1s;
  font-size: 80px;
  font-family: 'IBM Plex Sans', sans-serif; 
}

#bodypart{
    left:870px;
    top:100px;
}

#arms {
    left: 350px;
    top:250px;
}

#legs {
    left: 750px;
    top:250px;
}

#chest {
    left: 1150px;
    top:250px;
}

#back {
    left: 1550px;
    top:250px;
}

#generate {
    left: 585px;
    top:420px;
}

#clear {
    left: 1152px;
    top:420px;
}

h1 {
  transition: opacity 1s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes right_flyin {
    0%   { 
    transform: translateX(300%); 		
    }
    100% { 
    transform: translateX(0%); 
    }
}

@keyframes bottom_flyin {
    0%   { 
    transform: translateY(900%); 		
    }
    100% { 
    transform: translateY(0%); 
    }
}



   